@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400&display=swap');

body {
    background-image: url('https://wallpaperaccess.com/full/5231224.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: large;
}